body {
    background-color: #202b38;
    color: white;
    position: absolute;
}

h1 {
    color: white;
    padding-top: -5px;
}

h2 {
    color: white;
    padding-top: -5px;
    padding-bottom: -5px;
}

p {
    padding-top: -5px;
}
