html {
    display: flex;
    flex-flow: row nowrap;  
    justify-content: center;
    align-content: center;
    align-items: center;
    height:100%;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 20px;
    background-color: #2d2d30;
    color: white;
    position: absolute;
    padding-top: 20px;
    margin: 0;
    flex: 0 1 auto;
    align-self: auto;
    /*recommend 1920 / 1080 max based on usage stats, use 100% to that point*/
    width: 100%
    max-width: 900px;
    height: 100%;
    max-height: 600px;
}

h1 {
    color: white;
    margin-top: 0px;
    padding-left: 10px;
}

h2 {
    color: white;
    margin-top: 0px;
    padding-left: 10px;
}

p {
    padding-left: 35px;
}

a {
    color: #00d2ff;
    font-size: 18px;
    font-weight: bold;
}
