body {
    background-color: #202b38;
    color: white;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

h1 {
    color: white;
    margin-top: 0px;
}

h2 {
    color: white;
    margin-top: 0px;
}

p {
    margin-top: -10px;
    padding-top: 0px;
}
